* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	align-items: center;
	background-color: black;
}

h1 {
	color: white;
}

#container {
	height: 500px;
	width: 350px;
	border: double 6px white;
	display: flex;
	flex-direction: column;
	background-color: black;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 120px;
	overflow: hidden;
	color: white;
	padding: 10px;
	background-color: black;
}

#inputs {
	font-size: 50px;
}

#result {
	font-size: 40px;
}

.button-rows,
.button-rows div {
	display: flex;
	flex-grow: 1;
}

button {
	color: white;
	width: 25%;
	background-color: black;
	font-size: 24px;
	border: 0px;
	border-radius: 50%;
}
button:hover {
	background-color: darkgray;
}

button:active {
	transform: translateY(2px);
	box-shadow: 0 2px lightgray;
}

#zero {
	flex: 1;
}

footer {
	color: white;
}

a:visited {
	color: inherit;
}
