* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	align-items: center;
	background-color: black;
	color: #afafaf;
	padding-top: 8px;
	padding-bottom: 4px;
	font-family: "Helvetica", "Arial", sans-serif;
}

#container {
	height: 500px;
	width: 350px;
	border: double 6px #afafaf;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	background-color: black;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 120px;
	overflow: hidden;
	color: #afafaf;
	background-color: black;
	border: 1px solid #2b2b2b;
	border-radius: 15px;
	margin: 10px 10px 0px 10px;
	padding: 5px;
}

#inputs {
	font-size: 35px;
}

#result {
	font-size: 45px;
}

.button-rows {
	display: flex;
	flex-grow: 1;
	margin: 0px 10px 10px 10px;
}

button {
	color: #afafaf;
	width: 25%;
	background-color: black;
	font-size: 24px;
	border: 0;
	border-radius: 50%;
	outline: none;
}

button:hover {
	background-color: #8b888833;
}

.pressed {
	background-color: #8b888833;
	transform: scale(0.98);
	box-shadow: 0 2px #8b888833;
}

#zero {
	flex: 1;
}

a:visited {
	color: inherit;
}

.operation,
#clear,
#percent,
#back {
	color: #c3073f;
}

#equal {
	background-color: #c3073f;
}

.equalpressed {
	transform: scale(0.98);
}
