* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	align-items: center;
	background-color: black;
	color: #afafaf;
	padding-top: 8px;
	padding-bottom: 4px;
}

#container {
	height: 500px;
	width: 350px;
	border: double 6px #afafaf;
	display: flex;
	flex-direction: column;
	background-color: black;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 120px;
	overflow: hidden;
	color: white;
	padding: 10px;
	background-color: black;
	border-bottom: 1px solid #2b2b2b;
}

#inputs {
	font-size: 50px;
}

#result {
	font-size: 40px;
}

.button-rows,
.button-rows div {
	display: flex;
	flex-grow: 1;
}

button {
	color: #afafaf;
	width: 25%;
	background-color: black;
	font-size: 24px;
	border: 0px;
	border-radius: 50%;
}
button:hover {
	background-color: #808b8888;
}

.pressed {
	background-color: #808b8888;
	transform: translateY(2px);
	box-shadow: 0 2px #808b8888;
}

#zero {
	flex: 1;
}

a:visited {
	color: inherit;
}

.operation {
	color: #2596be;
}
